.container {
    position: fixed;
    width: 100%;
    min-height: 100dvh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    z-index: 50;
    @media (max-width: 600px) {
        top: 0px;
        min-height: 100dvh;
        align-items: flex-start;
    }
    .blur {
        position: fixed;
        width: 100%;
        min-height: 100dvh;
        top: 0;
        left: 0;
        z-index: 50;
        background: rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(5px);
        opacity: 0;
        visibility: hidden;
        @media (max-width: 600px) {
            display: none;
        }
    }
    &.isOpen {
        opacity: 1;
        visibility: visible;
        .blur {
            opacity: 1;
            visibility: visible;
        }
    }
    .modal {
        position: relative;
        z-index: 50;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-right: 10px;
        margin-left: 10px;
        width: 100%;
        max-width: 600px;
        // overflow-x: hidden;
        // overflow-y: visible;
        border-radius: 30px;
        backdrop-filter: blur(5px);
        box-shadow:
            0px 33px 72px 0px rgba(0, 0, 0, 0.21),
            0px 131px 131px 0px rgba(0, 0, 0, 0.18),
            0px 295px 177px 0px rgba(0, 0, 0, 0.1),
            0px 525px 210px 0px rgba(0, 0, 0, 0.03),
            0px 820px 230px 0px rgba(0, 0, 0, 0);
        background: #fff;
        overflow: hidden;

        @media (max-width: 600px) {
            background-color: #fff;
            border-radius: 0px;
            margin: 0px;
            min-height: 100dvh;
            backdrop-filter: blur(0px);
        }
        .header {
            padding: 30px 35px 20px 35px;
            border-radius: 50px 50px 0px 0px;
            border-bottom: 1px solid #f2f2f2;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media (max-width: 600px) {
                padding: 14px 20px 14px 20px;
                border-radius: 0px;
            }
            .title {
                color: #000;
                font-size: 22px;
                line-height: 130%;
                font-weight: 600;
                white-space: nowrap;
                // font-family: MonumentExtended;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: calc(100% - 100px);
                @media (max-width: 600px) {
                    font-size: 16px;
                }
            }
            .block {
                display: flex;
                gap: 12px;
                align-items: center;
            }
            .close {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                .image {
                    width: 28px;
                    height: 28px;
                    @media (max-width: 600px) {
                        width: 22px;
                        height: 22px;
                    }
                    path {
                        stroke: #000;
                    }
                }
            }
        }
    }
}
