.container {

    .row {
        display: flex;
        align-items: center;
        width: 100%;

        &.opened {
            .arrowIcon {
                transform: rotate(90deg);
            }
        }

        &.focused {
            .block {
                background-color: #a5dbff51;
                .icons {
                    display: flex;
                }
            }
        }

        .arrowIcon {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            width: 30px;
            height: 30px;
            opacity: 0;

            &.show {
                opacity: 1;
            }
        }

        .block {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 4px 5px;
            width: 100%;

            .name {
                font-size: 15px;
                text-align: left;
                word-wrap: break-word;
                max-width: calc(100% - 100px);
            }

            .icons {
                align-items: center;
                display: none;

                .button {
                    width: 30px;
                    height: 20px;
                    padding: 0 5px;

                    &:hover {
                        transform: scale(1.05);
                    }
                    
                    .icon {
                        width: 100%;
                        height: 100%;
                    }

                    &.edit {
                        .icon {
                            transform: scale(0.95); 
                            path {
                                fill: #0099ff;
                            }
                        }
                    }

                    &.delete {
                        .icon {
                            transform: scale(0.95);
                            path {
                                fill: #e10000;
                            }
                        }
                    }
                }
            }
        }
    }

    .children {
        padding-left: 30px;
    }
}